Package: harboros-beacon
Version: VERSION_PLACEHOLDER
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6
Maintainer: Harborinno Ltd.
Description: HarborNAS Beacon Service
  Background service for the HarborNAS Beacon feature.
