Package: harboros-beacon
Version: VERSION_PLACEHOLDER
Section: utils
Priority: optional
Architecture: ARCH_PLACEHOLDER
Depends: libc6, openssl, ca-certificates, ffmpeg, harboros-system (>= 0.1.0~evt.1), harboros-system (<< 0.2), harborlink (>= 0.1.0~evt.1), harborlink (<< 0.2), harboros-model-runtime (= VERSION_PLACEHOLDER), harboros-cat-vision-runtime (= VERSION_PLACEHOLDER)
Breaks: harboros-model-runtime (<< VERSION_PLACEHOLDER), harboros-cat-vision-runtime (<< VERSION_PLACEHOLDER)
Maintainer: Harborinno Ltd.
Description: HarborNAS Beacon Service
  Background service for the HarborNAS Beacon feature.
