[Unit]
Description=HarborOS beacon Service
After=network.target

[Service]
Type=simple
Environment=HARBOR_FFMPEG_BIN=/usr/bin/ffmpeg
Environment=HARBOR_FFPROBE_BIN=/usr/bin/ffprobe
ExecStart=/usr/bin/harboros-beacon
Restart=always
RestartSec=5s
StateDirectory=harboros-beacon

[Install]
WantedBy=multi-user.target
